<header>
  {{! navigation }}
  <nav class='navbar navbar-light bg-light'>
    <div class='container'>
      {{! brand }}
      <a class='navbar-brand' href='/'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png'
          width='30'
          height='30'
          class='d-inline-block align-top'
          alt='我的餐廳清單'
        />
        我的餐廳清單
      </a>

      <a href='/restaurants/new' class='btn btn-info text-light'>
        新增餐廳
      </a>
    </div>
  </nav>

  {{! banner  }}
  <div class='banner'></div>
</header>