{{#if success_msg}}
  <div
    class='toast position-fixed top-50 start-50 translate-middle w-25 h-25'
    data-bs-delay='3000'
    style='z-index: 999;'
  >
    <div
      class='toast-body d-flex justify-content-center align-items-center w-100 h-100 fw-bold fs-2'
    >
      <i class='fas fa-thumbs-up mx-3'></i>{{success_msg}}
    </div>
  </div>
{{/if}}

{{#if error_msg}}
  <div
    class='toast position-fixed top-50 start-50 translate-middle w-25 h-25'
    style='z-index: 999;'
  >
    <div
      class='toast-body d-flex justify-content-center align-items-center w-100 h-100 fw-bold fs-2'
    >
      <i class='fas fa-exclamation-triangle mx-3'></i>{{error_msg}}
    </div>
  </div>
{{/if}}

<script>
  document.addEventListener('DOMContentLoaded', (event) => { let toastList =
  [...document.querySelectorAll('.toast')]; if (toastList.length > 0) {
  toastList = toastList.map((toast) => (new bootstrap.Toast(toast)));
  toastList.forEach(toast => toast.show()); } });
</script>