<div class="container px-5">
  <div class="card m-5">
    <form action="/restaurants/${id}?_method=PUT" method="POST" id="form" class="form" novalidate>
      {{!-- form title --}}
      <div class="card-header">
        <h4 class="mt-1 d-flex justify-content-center fw-bold">編輯餐廳</h4>
      </div>

      {{!-- form body --}}
      <div class="card-body m-3">
        {{> restaurant-form}}
      </div>

      {{!-- form footer --}}
      <div class="card-footer d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
          <i class="fas fa-save mx-1"></i>儲存
        </button>
        <button type="reset" class="btn btn-primary ms-3" id="clear-btn">
          <i class="fas fa-undo mx-1"></i>復原
        </button>
        <a href="/restaurants/{{id}}">
          <button type="button" class="btn btn-secondary ms-3">
            <i class="fas fa-times mx-1"></i>取消
          </button>
        </a>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/form.js"></script>
